<!DOCTYPE html>
<html ng-app="AngularMaterial">

{{>head}}

<body ng-cloak>
    {{>toolbar}}

    <md-content>
        <div id="employee" ng-init="username='{{username}}';notify='{{notify}}';message='{{message}}';success='{{success}}'" ng-controller="EmployeeController" class="md-padding site-content">
            <div style="margin-top: 3em;">
                <h2 class="md-toolbar-item md-breadcrumb md-subhead">
                {{#each breadcrumbs}}
                    <span class="md-breadcrumb-page" btn-redirect-action url="{{this.url}}">{{this.name}}</span>
                    <md-icon aria-hidden="true" md-svg-src="/images/svg/right.svg" style="margin-top: -2px"></md-icon>
                {{/each}}
                <span class="md-breadcrumb-current"><% employee.first_name %> <% employee.last_name %></span>
            </h2>

            </div>
            <div class="md-padding">
                <h2><% employee.first_name %> <% employee.last_name %></h2>
                <span class="md-subheader employee-subhead" style="margin-top: -1em;">Department: <% employee.department %></span>
                <span class="md-subheader employee-subhead">Position: <% employee.position %></span>
                <span class="md-subheader employee-subhead">Line Manager: <% employee.line_manager %></span>

                <div class="employee-tab">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="dtr">
                            <md-content class="md-padding">
                                  {{>dtr}}
                            </md-content>
                        </md-tab>
                        <md-tab label="work hours">
                            <md-content class="md-padding">
                                <h2 class="employee-tab-header">Shift</h2>
                                <md-content class="md-padding">
                                        {{>employeeshift}}
                                </md-content>
                                <h2 class="employee-tab-header">Schedule</h2>
                                <md-content class="md-padding">
                                    {{>employeeschedule}}
                                </md-content>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </div>
        </div>

        {{>footer}}
    </md-content>
</body>

</html>
